@tailwind base;
@tailwind components;
@tailwind utilities;

#createModal {
    display: none;
}

#editModal {
    display: none;
}

#row-container .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row-container img {
    padding: 10px;
    width: 180px; 
    height: 270px;
    object-fit: cover;
}

#row-container p {
    text-align: center;
    width: 100%;
    overflow: hidden;
    max-width: 170px; 
}

[id^="row-list"] .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[id^="row-list"] img {
    padding: 10px;
    width: 180px; 
    height: 270px;
    object-fit: cover;
}

[id^="row-list"] p {
    text-align: center;
    width: 100%;
    overflow: hidden;
    max-width: 170px; 
}